<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<link 
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"
		>
		<title>Pedido</title>
	</head>
	<body>
		<div class="container">
			<div class="jumbotron mb-0">
				<h1 class="display-10">Meus Pedidos</h1>
			</div>
			<form action="/order/new" method="post">
				<div>
					<label for="productName">Produto</label>
					<input name=productName placeholder="nome do produto" />
					<small>Informe qual o nome do produto</small>
				</div>
				<div>
					<label for="productUrl">Url do Produto</label>
					<input name=productUrl placeholder="url do produto" />
					<small>Procure em um site um produto que você deseja e cole a url da página aqui</small>
				</div>
				<div>
					<label for="imageUrl">Url da Imagem</label>
					<input name=imageUrl placeholder="url da imagem" />
					<small>Copie o url de uma boa imagem do produto e cole aqui para ajudar os compradores</small>
				</div>
				<div>
					<label for="description">Descrição</label>
					<textarea name=description placeholder="Adicione detalhes importantes para ajudar o comprador" ></textarea>
				</div>
				<button type="submit">Cadastrar</button>
			</form>
		</div>
	</body>
</html>